<div class="modal fade" id="booking-slip-payment">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">หลักฐานการชำระเงิน</h5>
        <button type="button" class="ac-btn ac-close-modal" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <div id="slip-modal-img"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="ac-btn bg-darkgray border-radius-7" data-bs-dismiss="modal">
          ปิด
        </button>
      </div>
    </div>
  </div>
</div>