<div class="modal fade" id="stay-room-modal">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-number-r bg-violet" id="stay-title"></h5>
        <button type="button" class="ac-btn ac-close-modal" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <%- include('stay_room_form')  %>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-center">
          <button class="fw-bold ac-btn bg-violet border-radius-4" id="stay-submit">
            <i class="fa-solid fa-suitcase"></i>
            เข้าพัก
          </button>
        </div>
      </div>
    </div>
  </div>
</div>