<div class="wrapper-content-page" id="special-options">
  <h6 class="fw-bold form-label">
    สิ่งอำนวยความสะดวก และของใช้เพิ่มเติม
  </h6>
  <div class="row">
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="non-special-options" id="non-special-options" type="checkbox" name="special-options" />
        <label class="check-label" for="non-special-options">
          ไม่มี
        </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="fridge" id=fridge" type="checkbox" name="special-options">
        <label class="check-label" for="fridge"> ตู้เย็น </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="fan" id="fan" type="checkbox" name="special-options" />
        <label class="check-label" for="fan"> พัดลม </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="air" id="air" type="checkbox" name="special-options" />
        <label class="check-label" for="air"> แอร์ </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="microwave" id="microwave" type="checkbox" name="special-options" />
        <label class="check-label" for="microwave"> ไมโครเวฟ </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="tv" id="tv" type="checkbox" name="special-options" />
        <label class="check-label" for="tv"> TV </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="washing-machine" id="washing-machine" type="checkbox" name="special-options" />
        <label class="check-label" for="washing-machine"> เครื่องซักผ้า </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="electric-pan" id="electric-pan" type="checkbox" name="special-options" />
        <label class="check-label" for="electric-pan"> กระทะไฟฟ้า </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="induction-stove" id="induction-stove" type="checkbox" name="special-options" />
        <label class="check-label" for="induction-stove"> เตาแม่เหล็กไฟฟ้า </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="vacuum-cleaner" id="vacuum-cleaner" type="checkbox" name="special-options" />
        <label class="check-label" for="vacuum-cleaner"> เครื่องดูดฝุ่น </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="electric-kettle" id="electric-kettle" type="checkbox" name="special-options" />
        <label class="check-label" for="electric-kettle"> กาต้มน้ำไฟฟ้า </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="water-heater" id="water-heater" type="checkbox" name="special-options" />
        <label class="check-label" for="water-heater"> เครื่องทำน้ำอุ่น </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="bathtub" id="bathtub" type="checkbox" name="special-options" />
        <label class="check-label" for="bathtub"> อ่างอาบน้ำ </label>
      </div>
    </div>
  </div>
  <p class="empty-validate" id="validate-options"></p>
</div>